body {
    font-family: sans-serif;
    background-color: rgb(32, 32, 32);
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 50px;
}

main h1 {
    color: white;
}

main div:first-child {
    border: 1px solid;
    border-radius: 15px;
}

#user-password {
    padding: 20px;
    color: rgb(32, 32, 32);
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f29e33;
}